head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  meta(name="viewport" content="width=1024, user-scalable=no")

  title npm scripts 

  link(rel="stylesheet" media="screen" href="css/plugins.min.css")
  link(rel="stylesheet" media="screen" href="css/min.css")

